.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center contents horizontally */
  justify-content: center; /* Center contents vertically */
  min-height: 100vh; /* Make sure the container covers the full viewport height */
  padding: 20px;
  position: relative; /* Ensure absolute positioned elements are placed correctly */
}

.logoutButton {
  z-index: 10;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 11px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 170px;
}

.logoutButton:hover {
  background-color: #e2e6ea;
}

.menu {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.menu button {
  background-color: #7f298f;
  color: rgb(255, 255, 255);
  border: 1px solid #be36bcb3;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu button:hover {
  background-color: #e2e6ea;
}

.welcomeMessage {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-top: 100px; /* Adjust this value to move the text down as needed */
}
