.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center contents horizontally */
  justify-content: center; /* Center contents vertically */
  min-height: 100vh; /* Make sure the container covers the full viewport height */
  padding: 20px;
  position: relative; /* Ensure absolute positioned elements are placed correctly */
}

.logoutButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 10px;
  width: 14%;
  color: rgb(84, 8, 98);
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  z-index: 10; /* Ensure the button is on top of other elements */
}

.logoutButton:hover {
  background-color: #e2e6ea;
}

.menu {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  position: absolute;
  top: 50px; /* Adjust this value to position the menu as needed */
  left: 50%;
  transform: translateX(-50%);
}

.menu button {
  background-color: #f8f9fa;
  color: rgb(81, 8, 81);
  border: 1px solid #dee2e6;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu button:hover {
  background-color: #e2e6ea;
}

.welcomeMessage {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-top: 100px; /* Adjust this value to move the text down as needed */
}
