.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.profileMenu {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  background-color: #219ebc;
  padding: 10px;
  color: #fff;
  border-radius: 0.7rem;
  font-size: 13px;
}

.profileInfo {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.profileIcon {
  margin-right: 5px;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  z-index: 1000;
}

.dropdownMenu.active {
  display: block;
}

.dropdownMenu a,
.dropdownMenu button {
  display: block;
  padding: 4px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  font-size: 16px;
}

.dropdownMenu a:hover,
.dropdownMenu button:hover {
  background-color: #f1f1f1;
}

/* Menü Sonu */
.dropdownMenu button:last-child {
  border-bottom: none;
  background-color: red;
}

.menu {
  display: flex;
  justify-content: space-between;
  background: #f8f9fa;
  padding: 6px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.menu button {
  background: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 12px 25px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu button:hover {
  background: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.menu button:active {
  background: #003d7a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.menu button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.tablesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0;
  width: 90%;
}

.tableSection {
  width: 50%;
  margin-bottom: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  overflow-x: auto;
  padding: 0;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 0;
}

th,
td {
  padding: 0px;
  text-align: left;
  white-space: nowrap;
  font-size: 11px;
}

.tableButton {
  width: 100px;
  cursor: pointer;
  font-size: 12px;
  padding: 3px;
  background-color: #45b579;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .tablesContainer {
    flex-direction: column;
  }

  .tableSection {
    width: 100%;
  }
}

.policyDetailsContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  font-size: 21px;
}

.policyDetails,
.carDetails {
  margin-bottom: 20px;
}

.policyDetails:last-child {
  margin-bottom: 0;
}

.pdfContainer {
  position: absolute;
  top: -1000%;
}
