.adminPanel {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.profileMenu {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  background-color: #219ebc;
  padding: 10px;
  color: #fff;
  border-radius: 0.7rem;
  font-size: 13px;
}

.profileInfo {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.profileIcon {
  margin-right: 5px;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  z-index: 1000;
}

.dropdownMenu.active {
  display: block;
}

.dropdownMenu a,
.dropdownMenu button {
  display: block;
  padding: 4px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  font-size: 16px;
}

.dropdownMenu a:hover,
.dropdownMenu button:hover {
  background-color: #f1f1f1;
}

/* Menü Sonu */
.dropdownMenu button:last-child {
  border-bottom: none;
  background-color: red;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 380px;
}

.button:hover {
  background-color: #0056b3;
}

.logoutButton {
  padding: 4px 11px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 170px;
}

.logoutButton:hover {
  background-color: #c82333;
}

.content {
  display: flex;
  justify-content: space-between;
}

.section {
  flex: 1;
  margin: 0 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}
