.container {
  display: flex;
  padding: 3.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
  background-color: #f8f9fa;
}

/* .sub-container {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
} */

.title {
  text-align: left;
  margin-bottom: 5px;
}

.errorInput {
  border-color: #dc3545;
}

.errorInput:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
